[user]
	name = Kei Kamikawa
	email = x00.x7f@gmail.com
[core]
	editor = vim
#    editor = subl -w
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    required = true
	process = git-lfs filter-process
[http]
	sslVerify = true
[alias]
    l = log --graph --decorate --pretty=oneline --abbrev-commit
    s = status -s
    ck = checkout
    cm = commit -m
    pm = push origin master
    pc = "!f() { git push origin $(git rev-parse --abbrev-ref HEAD); }; f"
    tags = tag -l
    br = branch --sort=-authordate
    b = rev-parse --abbrev-ref HEAD
	branches = branch -a --sort=-authordate
	remotes = remote -v
    sh = show --color-words='[^[:space:]]'
    contributors = shortlog --summary --numbered
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    restore = "!f() { git checkout \"$(git log --format='%h:%ar' -- \"$@\" | head -n 1 | cut -d: -f 1,1)^\" -- \"$@\"; }; f"
    forest = "!f() { git-foresta --all $@ | less -RS; }; f"
    ff = "!f() { git rev-list --all --objects | sed -n $(git rev-list --objects --all | cut -f1 -d' ' | git cat-file --batch-check | grep blob | sort -n -k 3 | tail -n40 | while read hash type size; do echo -n \"-e s/$hash/$size/p \"; done) | sort -n -k1; }; f"
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = "/Applications/Visual\\ Studio\\ Code.app/Contents/Resources/app/bin/code --wait --diff $LOCAL $REMOTE"
    prompt = false
[ghq]
    # root = ~/.ghq
    root = ~/go/src
[github]
	user = Code-Hex
[url "git@github.com:"]
    insteadOf = https://github.com/
