[user]
    name = K
    email = x00.x7f@gmail.com
[core]
    editor = subl -w
[color]
    ui = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[github]
    user = Code-Hex
